/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: #88a587; /* Ljusgrå bakgrund */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #3d4b3c;
}

.cart p {
  margin-left: 0.5rem;
}

button {
  background-color: #d9e8d9;
  color: #546653;
  border: none;
  transition: transform 0.1s ease, background-color 0.1s ease;
}

button:active {
  transform: scale(0.95);
  background-color: #88a587;
}

.cart-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; /* Justera efter önskemål */
  height: 100%;
  background-color: #d9e8d9;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  z-index: 1000;
}

.cart-modal-hidden {
  display: none;
}

.close-btn {
  background-color: #516850;
  color: #dceadc;
  border: none;
  transition: transform 0.1s ease, background-color 0.1s ease;
}
